{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% form_theme coffee_form 'bootstrap_4_layout.html.twig' %}
{% form_theme flower_form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mx-2 shadow rounded">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row mx-1">
        <div class="col-md-6 col-xs-12">
            <div class="rounded p-2 bg-light shadow ">
                <div class="text-center">
                    <h2>Coffee Order</h2>
                </div>
                <hr/>
                {{ form(coffee_form) }}
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="rounded p-2 bg-light shadow">
                <div class="text-center">
                    <h2>Flower Order</h2>
                </div>
                <hr/>
                {{ form(flower_form) }}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
