<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>

{% include 'inc/navbar.html.twig' %}

{% block content %}{% endblock %}

</body>
</html>

