<nav class="navbar navbar-expand bg-dark shadow mb-4">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand text-light" href={{ path('home') }}>Home</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand text-light" href={{ path('json') }}>JSON</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand text-light" href={{ path('xml') }}>XML</a>
            </li>
        </ul>
    </div>
</nav>