<nav class="navbar navbar-light bg-dark shadow mb-4">
    <a class="navbar-brand text-light" href={{ path('home') }}>Home</a>
    <a class="navbar-brand text-light" href={{ path('json') }}>Json</a>
    <a class="navbar-brand text-light" href={{ path('xml') }}>XML</a>
</nav>